body {
    height: fit-content;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(22, 45, 78);
    overflow: hidden;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    width: auto;
    height: auto;
    font-size: 20px;
    margin-bottom: 0;
}
.top-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top-banner img {
    height: 1.5em;      
    margin: 0.2em 0.5em 0 4em; 
}

.top-banner h4 {
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    
}
.acc-controls {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.acc-controls a {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}
.acc-controls a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.acc-controls button {
    background-color:rgba(0,0,0,0);
    color: inherit;
    margin: inherit;
    border: inherit;
}
.acc-controls button:hover{
    text-decoration: underline;
    cursor: pointer;
}
.acc-controls img {
    height: 15px;
}
/*Projects container, that holds grid*/
.projects {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-right: 10%;
    padding-left: 10%;
    color: white;
    height: 80%;
}

.projectItem {
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: #e0dddd;
    
    margin: 5vh 2vh 2.5vh 2vh;
    border-radius:  20px;
}
.projectItem img {
    width:  60%;
    aspect-ratio: 1/ 1;
    margin-bottom: 3vh;
    border-radius:  20px;
}
.projectItem a {
    color: #000;
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    justify-content: center;
    align-items: center;flex-direction: column;
}
.projectItem h5 {
    width: 22.5vh;
}

.projectItem:hover {
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}

.paginacion {
    height: 20%;
}
.paginacion {
    height: 20%;
}

@media (min-width:1080px) and (max-width: 1440px) {
    .projects {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .projectItem img {
        width:  60%;
        height: 60%;
        margin-bottom: 3vh;
    }
}
@media(min-width: 900px) and (max-width: 1080px) {
    .projects {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .projects img {
        width: 14.5vh;
    }
}

@media (max-width: 900px) {
    .projects {
        display: block;
    }
    .projectItem img {
        width:  20vh;
        aspect-ratio:1/1;
        margin-bottom: 3vh;
    }

    .projects h6 {
        font-size: 1.5em;
        margin: 5px 0px 5px 0px;
    }
    .top-banner h4 {
        visibility: hidden;
    }
    .top-banner img {
        height: 2em;
        margin-left: 0;
    }
    header {
        padding-left: 5%;
        padding-right: 5%;
    }
}