@media (min-width:900px) and (max-width: 1080px) {
    .welcome-container{
        display: block;

    }
    .welcome-banner img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }
    .login {
        width: 100%;
        height: 50%;
    }
    .welcome-banner {
        width: 100%;
        height: 50%;
    }
    .logo {
        margin-top: 5vh;
    }
    .logo h3 {
        margin-top: 2em;
    }
}

@media (max-width: 900px) {
    .welcome-container {
        display: flex;
        background-image: url('../img/tower.gif');
        height: 100%;  
    }
    .login {
        margin: 2em;
        height: 95%;
    }
    .login button {
        width: 180px;
    }
    .login input {
        width: 275px;
    }

    .welcome-banner {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
