/* Login y elementos*/
/* pagina principal y main container*/
/* top banner*/ 

/* Banner */
.welcome-banner {
    width: 100%;
}
.welcome-banner img {
    
    width: 100%;
    
}

/* login form */
.login {
    background-color: #ececec;
    /*border: 5px #5a0c33 dashed;*/
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
}
.login *{
    height: 30%;
}
.login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    height: auto;
}
.login input {
    height: 2.5em;
    width: 30%;
    border: 0px solid black;
    border-radius: 15px;
    margin: 0.5em;
    padding-left: 1em;
}
.login button {
    background-color: rgb(43, 41, 41);
    font-size: 18px;
    border: 0;
    color: #fff;
    
    height: 2em;
    width: 31%;
    border-radius: 15px;
    cursor: pointer;
    margin: 1em 0 1em 0;
}
.login button:hover{
    background-color:rgb(112, 99, 99);
     
}

.logo img {
    height: 6em;

}

/* Logo*/
.logo {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.logo a  {
    align-items: center;
    display: flex;
        margin: 1em 0 1em 0;
}
.logo h3 {
    margin: 0;
    height: 2em;
}

#msg {
    height: 1.5em;
}
#msgL {
    height: 1.5em;
}